<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            font-size: 20px;
        }
        .container-fluid {
            padding-right: 0px;
            padding-left: 0px;
            margin-right: auto;
            margin-left: auto;
        }
        /*Footer*/
        .footer {
            background-color: black;
            padding: 6rem 1rem;
            line-height: 3rem;
            text-align: center;
            justify-content: center;
        }

        .footer-center a:link,
        .footer-center a:visited {
            display: block;
            color: #f1f1f1;
            font-size: 1.4rem;
            transition: 0.6s;
        }

        .footer-center a:hover {
            color: lightpink;
        }

        .footer-center div {
            color: #f1f1f1;
            font-size: 1.4rem;
        }

        .footer-center h3 {
            font-size: 1.8rem;
            font-weight: 400;
            color: white;
        }
        #dropdown{
            color: silver;
            cursor: pointer;
            margin-top:12px;
            margin-right:3px;
        }
         #dropdown:hover {
            color:white;
        }
            #dropdown #insidedropdown {
                visibility: hidden;
                display: none;
                width: 180px;
                height: 100px;
                position: absolute;
            }
                #dropdown #insidedropdown li{
                    list-style:none;
                    display:inline;
                }
                #dropdown:hover > #insidedropdown, #dropdown #insidedropdown:hover {
                    visibility: visible;
                    display: block;
                    background-color: #101010;
                    opacity:0.9;
                }
        #insidedropdown li a{
            color: silver;
            display:inline-block;
            margin-left:-15px;
            padding-top: 10px;
            padding-left: 10px;
            text-decoration:none;
        }
        #insidedropdown li a:hover{
            color: white;
        }
        #logOutBtn {
            background-color: red;
            margin-top: 9px;
            border-radius: 5px;
            color: white;
            border: 2px solid black;
        }
        #logOutBtn:hover {
            background-color: black;
            color: white;
            border:2px solid white;
        }
    </style>
</head>
<body style=" background: url('../../fonts/Images/Pizzastore.png') no-repeat center center fixed; background-repeat: no-repeat; background-size: cover;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (@Request.Cookies["User_email"] != null)
                {
                    @Html.ActionLink("Welcome, "+@Request.Cookies["User_email"].Value.ToString(), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Guest", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (@Request.Cookies["User_email"] != null)
                    {
                        if (@Request.Cookies["User_email"].Value.ToString() == "Aman Sharma")
                        {
                            <li>@Html.ActionLink("Order History", "GetAllOrderHistory", "Admin")</li>
                        }
                    }

                    @if (@Request.Cookies["User_email"] != null)
                    {
                        if (@Request.Cookies["User_email"].Value.ToString() == "Aman Sharma")
                        {
                            <li>@Html.ActionLink("All User", "GetAllUser", "PizzaUser")</li>
                            <li id="dropdown">
                                Add Item&#9660
                                <ul id="insidedropdown">
                                    <li>@Html.ActionLink("Add Pizza", "AddPizza", "Admin")</li>
                                    <li>@Html.ActionLink("Add Topping", "AddTopping", "Admin")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li id="dropdown">
                                Order&#9660
                                <ul id="insidedropdown">
                                    <li>@Html.ActionLink("Order Pizza", "OrderPizza", "PizzaOrder")</li>
                                    <li>@Html.ActionLink("Order History", "GetOrderHistory", "PizzaOrder")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="text-success">@Html.ActionLink("Profile", "GetUserById/" + @Request.Cookies["User_id"].Value, "PizzaUser")</li>
                        <li class="text-success"><input id="logOutBtn"  type="button" value="Log Out"/> </li>
                    } 
                    else
                    {
                        <li class="text-success">@Html.ActionLink("Log In", "Login", "Account")</li>
                        <li class="text text-capitalize text-success">@Html.ActionLink("Sign Up", "Register", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderSection("carousel", false)
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="container">
        <footer id="footer" class="section footer">
            <div class="footer-center">
                <h3 id="contactus">CONTACT US</h3>
                <a href="#">24 Dream House, 2410 Dreamville, Mumbai, INDIA</a>
                <a href="#">pizzeria24@gmail.com</a>
                <a href="#">9898539750</a>
                <a href="#">Dream City, Mumbai</a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#logOutBtn").click(function () {
                var isLogOut = confirm("Do you want logout?");
                if (isLogOut)
                    window.location.href = "../Account/Logout";
                else
                    window.location.href = "../Home/Index";
            });
        });
    </script>
</body>
</html>
