@model PizzaStoreMVC.Models.Users

@{
    ViewBag.Title = "GetUserById";
}

<h2>User Profile</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender) :
        </dt>
        @if (Model.Gender == 'M')
        {
            <dd>
                Male
            </dd>
        }
        else
        {
            <dd>
                Female
            </dd>
        }
    </dl>
</div>
<p style="padding-left:100px">
    @Html.ActionLink("Edit", "EditUser", new { id = Model.Id }) 
</p>
