@model PizzaStoreMVC.Models.ContactUs
@{
    ViewBag.Title = "Contact";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Page</title>
    <style>
        body {
            background-image: url( "../fonts/Images/Pizzastore.png");
            height: 100vh;
            width: 100vw;
            background-size: 100%;
        }

        .grp {
            margin-top: 20px;
        }

        .button {
            font-size: 20px;
        }
        #margindiv{
            margin-bottom:50px;
        }
    </style>



</head>

<body>

    <h1>@ViewBag.Message</h1>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h4>Send your comments.</h4>
        <hr />
        <div class="form-group ">
            @Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label grp" })
            <div class="col-md-10 grp">
                @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label grp" })
            <div class="col-md-10 grp">
                @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FromEmail, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(m => m.Message, new { @class = "col-md-2 control-label grp" })
            <div class="col-md-10 grp">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="margindiv" class="form-group grp">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary grp button" value="Send" />
            </div>
        </div>
    }

</body>

</html>